.confirmation-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tittle-con {
    color: #333;
}

.sub-con {
    margin-top: 20px;
    color: #555;
}

.order-details {
    margin-top: 10px;
    font-size: 16px;
}

.order-details ul {
    list-style-type: none;
    padding: 0;
}

.order-details li {
    background-color: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

.download-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #6a0dad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #CDA434;
}
.products-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.products-table th, .products-table td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #f0f0f0;
}

.products-table th {
    background-color: #f0f0f0; 
    color: #000;
    font-weight: bold;
}

.products-table td {
    background-color: #f0f0f0;
}

.products-table tr:nth-child(even) td {
    background-color: #f0f0f0; 
}

.products-table tr:hover td {
    background-color: #f0f0f0;
}

.products-table td {
    font-size: 14px;
    color: #333; 
}

.products-table th, .products-table td {
    font-family: Arial, sans-serif;
}
